@charset "UTF-8";

/* Dark theme color */
$dark-background: #fff;
$dark-background-secondary: #eaeaea;
$dark-background-header: #fafafa;
$dark-color: #222;
$dark-color-variant: black;
$dark-color-secondary: #999;
$dark-border-color: #dcdcdc;
$dark-table-color: #dcdcdc;

/* Light theme colors */
$light-background: #232425;
$light-background-secondary: #3b3d42;
$light-background-header: #1b1c1d;
$light-color: #efefef;
$light-color-variant: white;
$light-color-secondary: #b3b3bd;
$light-border-color: #4e4e57;
$light-table-color: #4e4e57;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
    --phoneWidth: (max-width: 684px);
    --tabletWidth: (max-width: 900px);
  }
  
  /* Content */
  $max-width: 860px;